<%= flash_message %>
<% content_for :title do %>
	<h1>Visits</h1>
<% end %>

<ul>
	<% @visits.each do |visit| %>
	<li>
		<% if visit.location_id.present? %>
		 Visit <%= visit.id %> -
			Location: <%= Location.find(visit.location_id).city %> -
		<% end %>
		Username: <%= User.find(visit.user_id).user_name %>
		<button class = 'visits'>
		<%= link_to "Go to visit", location_visit_path(:id => visit.id)%>
	</button>

	<button class ='delete'>
		<%= link_to "Delete", location_visit_path(@location, visit), method: 'delete', confirm: 'Are you sure?' %>
	</button>

	<button class ='edit'>
		<%= link_to "Edit", edit_location_visit_path(:id => visit.id), method: 'get' %>
	</button>

	</li>
	<% end %>
<button class = 'new'>
<%= link_to "Create a new visit", new_location_visit_path, method: 'get' %>
</button>

<button class = 'locations'>
<%= link_to "Back to Locations", locations_path %>
</button>

</ul>