<h1>User List</h1>

<ul>
	<% @users.each do |user| %>
	<li>
		<% if user.user_name.present? %>
			User ID: <b><%= user.id %></b> -
			<%= user.user_name %><br>
		<% end %>
		<%= user.email %>
		</li>
	<% end %>
</ul>
<button class ='edit'>
			<%= link_to "Edit", edit_user_registration_path, method: 'get' %>
		</button>
<button class = 'new'>
<%= link_to "Create a new user", new_user_path, method: 'get' %>
</button>