<% if @errors %>
<ul>
	<% @errors.each do |error| %>
	<li> <%= error %> </li>
	<% end %>
</ul>
<% end %>

<%= form_for @location do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %> <br/>
	<%= f.label :city %>
	<%= f.text_field :city %> <br/>
	<%= f.label :country %>
	<%= f.text_field :country %> <br/><br/>

	<%= f.fields_for :comments do |c| %>
		<%= c.hidden_field :id %> <!-- ID of comment -->
		<%= c.label "Comment:" %>
		<%= c.text_field :text_note %>
			<%= c.label "Delete?" %>
			<%= c.check_box :_destroy %>

		<% end %>
	<%= f.submit "Save", class: "save" %>
<% end %>