<h1>Locations</h1>

<ul>
	<% @locations.each do |location| %>
	<li>
		<% if location.name.present? %>
			<%= location.name %> -
		<% end %>
		<%= location.city %>
		<button class = 'visits'>
			<%= link_to "See Visits", location_visits_path(location.id) %>
		</button>
		<button class = 'locations'>
			<%= link_to "Check-out Location", location_path(location.id)%>
		</button>

		</li>
	<% end %>
</ul>
<button class = 'new'>
<%= link_to "Create a new location", new_location_path, method: 'get' %>
</button>