<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>

<header>
	<h1>Location <%= @location.id %></h1>
</header>
<body>
<div class="solocation">
	<p><%= @location.name %>:
		<%= @location.city %>, <%= @location.country%>
	</p>
	<p><% @comments.each do |comment| %>Comments
		<%= comment.id %> - <%= comment.text_note %>
		<% end %>
	</p>
<button class ='visits'>
	<%= link_to "See Visits", location_visits_path(@location.id) %>
</button>

<button class ='locations'>
	<%= link_to "Back to Locations List", locations_path%>
</button>

</div>
</body>
